.cli-control {
    position: fixed;
    left: -1px;
    top: 95px;
    z-index: 9999;
}
.cli-icon {
    position: relative;
   height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
box-shadow: 0 0 8px black, 0 0 30px white !important;
	
	width: 36px;
height: 30px;
background: #f8f8f8;
padding: 5px 0;
border-radius: 0 6px 6px 0;
}

.cli-icon .hover-text {
    position: absolute;
    left: 38px;
    top: 50%;
    transform: translateY(-50%);
    background: #808080;
    color: white;
    padding: 4px 8px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.cli-icon:hover .hover-text {
	opacity: 1;
width: fit-content;
	text-align: center;
}

.cli-icon svg {
    color: white;
	width:20px;
	height:20px;
	padding: 5px 0 0 0;
}


   .cli-control {
            font-size: 14px !important;
            position: fixed !important;
            z-index: 10000 !important;
        }
.cli-icon {box-shadow: /*0 4px 8px rgba(0, 0, 0, 0.4)*/ 0 2px 8px rgba(0, 0, 0, 0.8), 0 0 24px white;}
.page-adjuster-icon svg {
  color: #FFF;
  filter: drop-shadow( 1px 1px 2px rgba(255, 255, 0, .8));
}
